:root {
  --grey: #2f303a;
  --white: #ffffff;
  --blue: #2196f3;
  --orange: #e73b07;
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--primary-font);
}

/* Header section*/

.header {
  background-color: white;
  padding-left: 215px;
  padding-right: 215px;
}

.header__logotext {
  color: black;
  span: var(--blue);
}

.header__navigation ul {
  list-style: none;
}

.header__navigation a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  color: var(green);
}

.header__navigation a:hover {
  color: var(--blue);
}

.header__info a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  color-span: #0909f7;
  color: var(green);
}

/* Hero section */

.header__bookme {
  background-color: #2f303a;
  padding-left: 215px;
  padding-right: 215px;
}
.header__bookme {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
  gap: 0px;
  opacity: 0px;
}

.header__bookme__slogan {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter: 6%;
  text-align: center;
  color: #ffffff;
}

.header__booking {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2196f3;
  text-transform: none;
  padding: 20px 120px;
  border-radius: 15px;
  cursor: pointer;
}

.header__booking:hover {
  color: rgb(247, 70, 0);
  background-color: rgb(99, 240, 6);
}

/* About section style */

.about {
  background-color: #2f303a;
  padding-left: 215px;
  padding-right: 215px;
}

.about__title1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title1__p1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title2__p2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title3__p3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.about__title4__p4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.container {
  padding: 0 215;
}
